<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>379869238089-amd6b6amch9184v6lhko4m8luu8fnd2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379869238089-amd6b6amch9184v6lhko4m8luu8fnd2a</string>
	<key>API_KEY</key>
	<string>AIzaSyDGv5hV2U4J99qGvjm2vR2yl-dgM-JGv_E</string>
	<key>GCM_SENDER_ID</key>
	<string>379869238089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>logoFontGame.logoFontGame</string>
	<key>PROJECT_ID</key>
	<string>logofontgame</string>
	<key>STORAGE_BUCKET</key>
	<string>logofontgame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:379869238089:ios:758360b71d9cb101</string>
	<key>DATABASE_URL</key>
	<string>https://logofontgame.firebaseio.com</string>
</dict>
</plist>