<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>logoFontGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EAB27711F46A7D300D011C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EAB27851F46A7D300D011C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EAB27901F46A7D300D011C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
